.center {
    width : 400pt;
    text-align : center;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

body{
    background-color: #4b4b4b;
    font-family: "serif";
    color: #f2f2f2;
}

a{
    color : #dd6f00
}
