.center {
    width : 400pt;
    text-align : center;
}

body{
    background-color: #4b4b4b;
    font-family: "Meiryo";
    color: white;
}

.header{
}

.aboutMe{


}

.introduction{


}

.pageInfo{


}

.skills{


}

.contact{

}

.footer{
}